<!-- 照片 -->
<section id="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="text-uppercase">Photo</h1>
                <h3 class="text-muted section-subheading">Form 2015 - 2021</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group timeline">
                    {% for activity_gallery in activity_gallery_list %}
                        <li class="list-group-item  {% if activity_gallery.index == 1 %} timeline-inverted {% endif %}">
                            {% if activity_gallery.thumbnail_complete_url == '#' %}
                                <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                                 src="{{ activity_gallery.thumbnail_url }}">
                                </div>
                            {% else %}
                                <div id='gallery{{ forloop.counter0 }}' class="timeline-image gallery">

                                    <a href="{{ activity_gallery.thumbnail_complete_url }}">
                                        <div class="rounded-circle photo-hover">
                                            <div class="photo-hover-content"><i class="fa fa-search fa-3x"></i></div>
                                        </div>
                                        <img class="rounded-circle img-fluid"
                                             src="{{ activity_gallery.thumbnail_url }}">
                                    </a>
                                    {% for photo_url in  activity_gallery.photo_list %}
                                        <a href="{{ photo_url }}"><img style="display: none;" src="{{ photo_url }}"></a>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ activity_gallery.activity_time }}</h4>
                                    <h4 class="subheading">{{ activity_gallery.activity_name }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ activity_gallery.activity_note|safe }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    <li class="list-group-item timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part<br>&nbsp;Of Our<br>&nbsp;Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script>

</script>