<!-- 欢迎页 -->
<header class="masthead"
        style="background-image: url('{{index_photo_url}}');margin-top:56px;">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"></div>
            <div class="intro-heading text-uppercase"><span>It's Nice To Meet You</span></div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="https://nbut.ac.cn/"
               target="_blank">NBUT ACM</a>
        </div>
    </div>
</header>