<!-- 滑动窗口 -->
<section id="slider">
    <div class="simple-slider">
        <div class="swiper-container">

            <div class="swiper-wrapper">
                {% for key,value in memberlist_of_grade.items %}
                <div class="swiper-slide">
                    <div class="highlight-clean">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-uppercase section-heading">{{key}}级</h2>
                                    <!-- <h3 class="text-muted section-subheading">瓜皮学长的博客</h3> -->
                                </div>
                            </div>
                            <div class="buttons">
                                {% for member in value %}
                                    {% if member.url == '#' %}
                                        <div class="btn" style="background:{{ member.color }};" role="button"
                                            href="{{member.url}}" target="_blank">{{member.name}}
                                        </div>
                                    {% else %}
                                        <a class="btn btn-primary" style="background:{{ member.color }};" role="button"
                                            href="{{member.url}}" target="_blank">{{member.name}}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}

                <div class="swiper-slide">
                    <div class="highlight-clean">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-uppercase section-heading">友情链接</h2>
                                    <h3 class="text-muted section-subheading">瓜皮学长的博客</h3>
                                </div>
                            </div>
                            <div class="buttons">
                                <a class="btn btn-info active" role="button" href="https://xor-star.github.io"
                                   target="_blank">郭吕建</a>
                                <a class="btn btn-light active" role="button" href="https://jlinekai.github.io/"
                                   target="_blank">ACM_JLINE_陈凯涛</a>
                                <a class="btn btn-success active" style="background-color:#FF0033;" role="button"
                                   href="https://llfzllfz.github.io/" target="_blank">llfz傅剑琪</a>
                                <br>
                                <a class="btn btn-secondary active" role="button" href="https://ultronxr.xyz/"
                                   target="_blank">方方方方方材</a>
                                <a class="btn btn-primary" role="button" href="http://ccccchy.top"
                                   target="_blank">chy</a>
                                <a class="btn btn-primary" style="background-color:#87CEEB;" role="button"
                                   href="https://www.cnblogs.com/ehanla/" target="_blank">王超Ehanla</a>
                                <a class="btn btn-primary" style="background-color:#CD2626;" role="button"
                                   href="https://www.cnblogs.com/fu3638/" target="_blank">傅老师</a>
                                <a class="btn btn-info active" role="button" href="https://www.cnblogs.com/badassboy/"
                                   target="_blank">许凯玥</a>
                                <br>
                                <a class="btn btn-info active" role="button" href="https://blog.csdn.net/Guard_Mine"
                                   target="_blank">ALEX</a>
                                <a class="btn btn-dark active" role="button" href="https://www.cnblogs.com/TnT2333333/"
                                   target="_blank">Gealo</a>
                                <a class="btn btn-primary" role="button" href="http://lweleth.xyz/"
                                   target="_blank">阙神</a>
                                <a class="btn btn-light active" role="button" href="https://hydrogensulfate.github.io/"
                                   target="_blank">何森森</a>
                                <br>
                                <a class="btn btn-primary" role="button" href="https://xcoder.in/"
                                   target="_blank">死月</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
{#            <div class="swiper-scrollbar"></div>#}
        </div>
    </div>
</section>
