<!-- 滑动窗口 -->
<section id="slider">
    <div class="simple-slider">
        <div class="swiper-container">

            <div class="swiper-wrapper">
                {% for key,value in memberlist_of_grade.items %}
                <div class="swiper-slide">
                    <div class="highlight-clean">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-uppercase section-heading">{{key}}级</h2>
                                    <!-- <h3 class="text-muted section-subheading">瓜皮学长的博客</h3> -->
                                </div>
                            </div>
                            <div class="buttons">
                                {% for member in value %}
                                    {% if member.url == '#' %}
                                        <div class="btn" style="background:{{ member.color }};" role="button"
                                            href="{{member.url}}" target="_blank">{{member.name}}
                                        </div>
                                    {% else %}
                                        <a class="btn btn-primary" style="background:{{ member.color }};" role="button"
                                            href="{{member.url}}" target="_blank">{{member.name}}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}

                <div class="swiper-slide">
                    <div class="highlight-clean">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-uppercase section-heading">友情链接</h2>
                                    <h3 class="text-muted section-subheading">瓜皮学长的博客</h3>
                                </div>
                            </div>
                            <div class="buttons">
                                <a class="btn btn-info active" role="button" href="https://xor-star.github.io"
                                   target="_blank">郭吕建</a>
                                <a class="btn btn-light active" role="button" href="https://jlinekai.github.io/"
                                   target="_blank">ACM_JLINE_陈凯涛</a>
                                <a class="btn btn-success active" style="background-color:#FF0033;" role="button"
                                   href="https://llfzllfz.github.io/" target="_blank">llfz傅剑琪</a>
                                <br>
                                <a class="btn btn-secondary active" role="button" href="https://ultronxr.xyz/"
                                   target="_blank">方方方方方材</a>
                                <a class="btn btn-primary" role="button" href="http://ccccchy.top"
                                   target="_blank">chy</a>
                                <a class="btn btn-primary" style="background-color:#87CEEB;" role="button"
                                   href="https://www.cnblogs.com/ehanla/" target="_blank">王超Ehanla</a>
                                <a class="btn btn-primary" style="background-color:#CD2626;" role="button"
                                   href="https://www.cnblogs.com/fu3638/" target="_blank">傅老师</a>
                                <a class="btn btn-info active" role="button" href="https://www.cnblogs.com/badassboy/"
                                   target="_blank">许凯玥</a>
                                <br>
                                <a class="btn btn-info active" role="button" href="https://blog.csdn.net/Guard_Mine"
                                   target="_blank">ALEX</a>
                                <a class="btn btn-dark active" role="button" href="https://www.cnblogs.com/TnT2333333/"
                                   target="_blank">Gealo</a>
                                <a class="btn btn-primary" role="button" href="http://lweleth.xyz/"
                                   target="_blank">阙神</a>
                                <a class="btn btn-light active" role="button" href="https://hydrogensulfate.github.io/"
                                   target="_blank">何森森</a>
                                <br>
                                <a class="btn btn-primary" role="button" href="https://xcoder.in/"
                                   target="_blank">死月</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
</section>


<!-- 滑动窗口 -->
<!--<section id="slider">-->
<!--    <div class="simple-slider">-->
<!--        <div class="swiper-container">-->

<!--            <div class="swiper-wrapper">-->

<!--                <div class="swiper-slide">-->
<!--                    <div class="highlight-clean">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-12 text-center">-->
<!--                                    <h2 class="text-uppercase section-heading">2018级</h2>-->
<!--                                    &lt;!&ndash; <h3 class="text-muted section-subheading">瓜皮学长的博客</h3> &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="buttons">-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(254,67,101);" role="button"-->
<!--                                     href="" target="_blank">卢婉青-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(252,157,154);" role="button"-->
<!--                                     href="" target="_blank">叶明敏-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(249,205,173);" role="button"-->
<!--                                     href="" target="_blank">梁佳誉-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(200,200,169);" role="button"-->
<!--                                     href="" target="_blank">王伟臣-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(131,175,155);" role="button"-->
<!--                                     href="" target="_blank">赵晶晶-->
<!--                                </div>-->
<!--                                &lt;!&ndash; <br> &ndash;&gt;-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(225,238,210);" role="button"-->
<!--                                     href="" target="_blank">郁鸣-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(219,208,167);" role="button"-->
<!--                                     href="" target="_blank">王云浩-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(230,155,3);" role="button"-->
<!--                                     href="" target="_blank">曹鹏宵-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(209,73,78);" role="button"-->
<!--                                     href="" target="_blank">余睿-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(18,53,85);" role="button"-->
<!--                                     href="" target="_blank">马炜涛-->
<!--                                </div>-->
<!--                                &lt;!&ndash; <br> &ndash;&gt;-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(90,13,67);" role="button"-->
<!--                                     href="" target="_blank">马宇浩-->
<!--                                </div>-->

<!--                                &lt;!&ndash; <br> &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="swiper-slide">-->
<!--                    <div class="highlight-clean">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-12 text-center">-->
<!--                                    <h2 class="text-uppercase section-heading">2017级</h2>-->
<!--                                    &lt;!&ndash; <h3 class="text-muted section-subheading">瓜皮学长的博客</h3> &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="buttons">-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(254,67,101);" role="button"-->
<!--                                     href="" target="_blank">郭吕建-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(252,157,154);" role="button"-->
<!--                                     href="" target="_blank">王发鸿-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(249,205,173);" role="button"-->
<!--                                     href="" target="_blank">傅剑琪-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(200,200,169);" role="button"-->
<!--                                     href="" target="_blank">陈建东-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(131,175,155);" role="button"-->
<!--                                     href="" target="_blank">柯俊雄-->
<!--                                </div>-->
<!--                                &lt;!&ndash; <br> &ndash;&gt;-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(225,238,210);" role="button"-->
<!--                                     href="" target="_blank">陈益萍-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(219,208,167);" role="button"-->
<!--                                     href="" target="_blank">王云浩-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(230,155,3);" role="button"-->
<!--                                     href="" target="_blank">陈凯涛-->
<!--                                </div>-->

<!--                                &lt;!&ndash; <br> &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="swiper-slide">-->
<!--                    <div class="highlight-clean">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-12 text-center">-->
<!--                                    <h2 class="text-uppercase section-heading">2016级</h2>-->
<!--                                    &lt;!&ndash; <h3 class="text-muted section-subheading">瓜皮学长的博客</h3> &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="buttons">-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(254,67,101);" role="button"-->
<!--                                     href="" target="_blank">陈鸿宇-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(252,157,154);" role="button"-->
<!--                                     href="" target="_blank">傅贤达-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(249,205,173);" role="button"-->
<!--                                     href="" target="_blank">王超-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(200,200,169);" role="button"-->
<!--                                     href="" target="_blank">王涌棋-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(131,175,155);" role="button"-->
<!--                                     href="" target="_blank">许凯玥-->
<!--                                </div>-->
<!--                                &lt;!&ndash; <br> &ndash;&gt;-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(225,238,210);" role="button"-->
<!--                                     href="" target="_blank">方材-->
<!--                                </div>-->
<!--                                <div class="btn btn-primary" style="background-color:RGB(219,208,167);" role="button"-->
<!--                                     href="" target="_blank">周芸婧-->
<!--                                </div>-->

<!--                                &lt;!&ndash; <br> &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="swiper-slide">-->
<!--                    <div class="highlight-clean">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-12 text-center">-->
<!--                                    <h2 class="text-uppercase section-heading">友情链接</h2>-->
<!--                                    <h3 class="text-muted section-subheading">瓜皮学长的博客</h3>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="buttons">-->
<!--                                <a class="btn btn-info active" role="button" href="https://xor-star.github.io"-->
<!--                                   target="_blank">郭吕建</a>-->
<!--                                <a class="btn btn-light active" role="button" href="https://jlinekai.github.io/"-->
<!--                                   target="_blank">ACM_JLINE_陈凯涛</a>-->
<!--                                <a class="btn btn-success active" style="background-color:#FF0033;" role="button"-->
<!--                                   href="https://llfzllfz.github.io/" target="_blank">llfz傅剑琪</a>-->
<!--                                <br>-->
<!--                                <a class="btn btn-secondary active" role="button" href="https://ultronxr.xyz/"-->
<!--                                   target="_blank">方方方方方材</a>-->
<!--                                <a class="btn btn-primary" role="button" href="http://ccccchy.top"-->
<!--                                   target="_blank">chy</a>-->
<!--                                <a class="btn btn-primary" style="background-color:#87CEEB;" role="button"-->
<!--                                   href="https://www.cnblogs.com/ehanla/" target="_blank">王超Ehanla</a>-->
<!--                                <a class="btn btn-primary" style="background-color:#CD2626;" role="button"-->
<!--                                   href="https://www.cnblogs.com/fu3638/" target="_blank">傅老师</a>-->
<!--                                <a class="btn btn-info active" role="button" href="https://www.cnblogs.com/badassboy/"-->
<!--                                   target="_blank">许凯玥</a>-->
<!--                                <br>-->
<!--                                <a class="btn btn-info active" role="button" href="https://blog.csdn.net/Guard_Mine"-->
<!--                                   target="_blank">ALEX</a>-->
<!--                                <a class="btn btn-dark active" role="button" href="https://www.cnblogs.com/TnT2333333/"-->
<!--                                   target="_blank">Gealo</a>-->
<!--                                <a class="btn btn-primary" role="button" href="http://lweleth.xyz/"-->
<!--                                   target="_blank">阙神</a>-->
<!--                                <a class="btn btn-light active" role="button" href="https://hydrogensulfate.github.io/"-->
<!--                                   target="_blank">何森森</a>-->
<!--                                <br>-->
<!--                                <a class="btn btn-primary" role="button" href="https://xcoder.in/"-->
<!--                                   target="_blank">死月</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


<!--            </div>-->
<!--            <div class="swiper-pagination"></div>-->
<!--            <div class="swiper-button-prev"></div>-->
<!--            <div class="swiper-button-next"></div>-->
<!--            &lt;!&ndash; <div class="swiper-scrollbar"></div> &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->