{% load static %}
{% load blog_extras %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NBUT-ACM</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="{% static '/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/Highlight-Clean.css' %}">



    {% block css %}

    {% endblock %}
</head>

<body id="page-top">
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog:index' %}" style="font-family: Montserrat, sans-serif;">Home</a>
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive"
                type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav d-xl-flex ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'blog:index' %}#about">photo</a>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="dropdown-toggle nav-link" data-toggle="dropdown"-->
<!--                                                 aria-expanded="false" href="#">rank&nbsp;</a>-->
<!--                    <div class="dropdown-menu text-monospace border-dark"-->
<!--                         role="menu" style="background-color: #ffffff;">-->
<!--                        <a class="dropdown-item" role="presentation" href="#">rank 2018</a>-->
<!--                        <a class="dropdown-item disabled" role="presentation" href="#">rank 2019&nbsp;</a>-->
<!--                        <a class="dropdown-item disabled" role="presentation" href="#">rank 2020</a>-->
<!--                    </div>-->
<!--                </li>-->

<!--                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#">solution</a>-->
<!--                </li>-->
                {% show_recent_posts %}
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">document&nbsp;</a>-->
<!--                    <div class="dropdown-menu text-monospace border-dark" role="menu"-->
<!--                         style="background-color: #ffffff;">-->
<!--                        <a class="dropdown-item" role="presentation" href="#">华东师范大学模板</a>-->
<!--                        <a class="dropdown-item" role="presentation" href="#">kuangbin的ACM模板（新）</a>-->
<!--                        <a class="dropdown-item" role="presentation" href="#">NBUTOJ部分题解</a>-->
<!--                    </div>-->
<!--                </li>-->

                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'blog:codeforces_contests' %}">CF Contests</a></li>
<!--                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#">About</a></li>-->

                <!-- <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="game-2048.html">Game</a></li> -->
            </ul>
        </div>
    </div>
</nav>
{% block main %}

{% endblock %}
<footer id="foot">
    <div class="container" id='footer'>
        <div class="row">
            <div class="col-md-4">
                <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                <span class="copyright" id="busuanzi_container_site_uv">总访问人数: <span class="copyright"
                                                                                     id="busuanzi_value_site_uv"></span></span><br/>
                <span class="copyright" id="busuanzi_container_site_pv">总访问量: <span class="copyright"
                                                                                    id="busuanzi_value_site_pv"></span></span>

            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a
                            href="https://shang.qq.com/wpa/qunwpa?idkey=5a96be0eff14438c569d302d52faee266694b30c6dfedea24e2f02ac6ee02eb9"
                            target="_blank"><i class="fa fa-qq"></i></a></li>
                    <li class="list-inline-item"><a
                            href="https://www.weibo.com/nbutoj?refer_flag=1001030103_&is_all=1#_rnd1556861794871"
                            target="_blank"><i class="fa fa-weibo"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/yywwann/nbutacm" target="_blank"><i
                            class="fa fa-github"></i></a></li>
                </ul>
                <br>
                <a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备19007255号</a>
            </div>
            <div class="col-md-4">
                <span class="copyright">NBUT ACM 2021 ACCEPT</span>
                <ul class="list-inline quicklinks">
                    <!-- <li class="list-inline-item">宁波工程学院在线评测系统：<a href="https://nbut.ac.cn/" target="_blank">NBUT OJ</a></li> -->
                    <li class="list-inline-item">抽奖小分队：<a
                            href="https://shang.qq.com/wpa/qunwpa?idkey=5a96be0eff14438c569d302d52faee266694b30c6dfedea24e2f02ac6ee02eb9"
                            target="_blank">688217062</a></li>

                </ul>
            </div>
        </div>
    </div>

</footer>
</body>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


<!--<script src="{% static '/js/jquery.min.js' %}"></script>-->

{% block js %}

{% endblock %}

</html>
