{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/markdown.css' %}">
    <style type="text/css">

        @media (min-width: 900px) {
            .pos-md-fixed {
                position: fixed;
                width: 200px;
            }
        }

    </style>
{% endblock css %}


{% block main %}
    <div class="container" style="margin-top: 120px; width: 100%; ">
        <div class="row">
            {% if post.toc %}
                <div class=" col-sm-12 col-md-3 pos-md-fixed" >
                    <h6 class="">{{ post.title }}</h6>
                    <div class="toc">
                        <ul>
                            {{ post.toc|safe }}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="col-sm-12 col-md-9 markdown-body">
                {{ post.body|safe }}
            </div>
        </div>
    </div>
{% endblock main %}


{% block js %}
    <script src="{% static '/js/markdown.js' %}"></script>
    {#<script type="text/javascript"#}
    {#        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>#}
    {#<script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>#}
    <script type="text/x-mathjax-config">
MathJax.Hub.Config({
    showProcessingMessages: false, //关闭js加载过程信息
    messageStyle: "none", //不显示信息
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath: [["$", "$"]], //行内公式选择$
        displayMath: [["$$", "$$"]], //段内公式选择$$
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code', 'a'], //避开某些标签
        ignoreClass: "comment-content" //避开含该Class的标签
    },
    "HTML-CSS": {
        availableFonts: ["STIX", "TeX"], //可选字体
        showMathMenu: false //关闭右击菜单显示
    }
});
MathJax.Hub.Queue(["Typeset", MathJax.Hub]);






    </script>
    <script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock js %}