{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/post/list/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/post/list/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/post/list/main.css' %}">
    <script src="{% static 'js/post/list/modernizr.js' %}"></script>
    <script src="{% static 'js/post/list/pace.min.js' %}"></script>
{% endblock css %}


{% block main %}
    <section id="bricks" style="margin-top: 120px;">
        <div class="post-row masonry">
            <div class="bricks-wrapper">
                <div class="grid-sizer"></div>
                {% for post in post_list %}
                    <article class="brick entry format-standard animate-this">
                        <div class="entry-thumb">
                            <a href="{{ post.get_absolute_url }}" class="thumb-link">
                                <img src="{{ post.thumbnail_url }} " alt="building">
                            </a>
                        </div>
                        <div class="entry-text">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        {% for tag in post.tags.all %}
                                            <a href="#">{{ tag }}</a>
                                        {% endfor %}
                                    </span>
                                </div>

                                <h1 class="entry-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h1>

                            </div>
                            <div class="entry-excerpt">
                                {{ post.excerpt }}
                            </div>
                        </div>

                    </article> <!-- end article -->


                {% endfor %}
            </div>
        </div>
{#        <div class="post-row">#}
{##}
{#            <nav class="pagination">#}
{#                <span class="page-numbers prev inactive">Prev</span>#}
{#                <span class="page-numbers current">1</span>#}
{#                <a href="#" class="page-numbers">2</a>#}
{#                <a href="#" class="page-numbers">3</a>#}
{#                <a href="#" class="page-numbers">4</a>#}
{#                <a href="#" class="page-numbers">5</a>#}
{#                <a href="#" class="page-numbers">6</a>#}
{#                <a href="#" class="page-numbers">7</a>#}
{#                <a href="#" class="page-numbers">8</a>#}
{#                <a href="#" class="page-numbers">9</a>#}
{#                <a href="#" class="page-numbers next">Next</a>#}
{#            </nav>#}
{##}
{#        </div>#}
    </section>
    <div id="preloader">
        <div id="loader"></div>
    </div>


{% endblock main %}

{% block js %}
    <script src="{% static 'js/post/list/jquery-2.1.3.min.js' %}"></script>

    <script src="{% static 'js/post/list/plugins.js' %}"></script>
    {#    <script src="{% static 'js/post/list/jquery.appear.js' %}"></script>#}
    <script src="{% static 'js/post/list/main.js' %}"></script>
{% endblock js %}