{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock css %}


{% block main %}

<div class="container" style="margin-top: 120px; width: auto;">
    <table style="width: 80%;margin-left: 10%;" class="table table-hover">
        <div style="width: 100%; text-align: center;">
            <h1>题解报告</h1>
        </div>

        <thead>
        <tr>
            <th>TITLE</th>
        </tr>
        </thead>

        <tbody>
        {% for post in post_list %}
        <tr>
            <td><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

{% endblock main %}

{% block js %}

{% endblock js %}